# Dependencies
node_modules/
yarn.lock
package-lock.json

# Honkit/GitBook build output
_book/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~

# Vercel
.vercel
